<h1>Library</h1>

<% if current_user %>
  <p>Hello <%= current_user.email %> !</p>
  <p>You are a <%= current_user.role %></p>
  <p>
    You are now ready to interact with this application.
  </p>
  <% if current_user.admin? %>
    <p>Accounts created: <%= User.count %></p>
  <% end %>
  <p><%= link_to "Books list", books_path %></p>
  <p><%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete %></p>
<% else %>
  <p>You must login or sign up before using Library</p>
  <p><%= link_to "Login", new_user_session_path %></p>
  <p><%= link_to "Sign Up", new_user_registration_path %></p>
<% end %>
