<h1>Update User roles</h1>
<div>
  <% @users.each do |user| %>
    <div>
      <p>User:</p>
      <p>email: <%= user.email %></p>
      <p>status: <%= user.role %></p>
    </div>
  <% end %>
</div>
<div>
  <%= form_with method: :get do |f| %>
    <%= f.label :email %>
    <%= f.select :email, options_for_select(@users.map { |user| user.email }) %>

    <%= f.label :role %>
    <%= f.select :role, options_for_select([['Student', 'student'], ['Librarian', 'librarian']]), required: true %>


    <%= f.submit "Update user role" %>
  <% end %>
</div>
