<%= render @book %>

<div>
  <p><%= link_to "Back to books", books_path %></p>
  <% if current_user.librarian? || current_user.admin? %>
    <p><%= link_to "Edit this book", edit_book_path(@book) %></p>
    <p><%= button_to "Destroy this book", @book, method: :delete %></p>
    <% if @book.available? %>
      <%= button_to "Borrow book", borrow_book_path(@book), method: :post %>
    <% elsif @book.borrowed? %>
      <%= button_to "Return book", return_book_path(@book), method: :post %>
    <% end %>
  <% else %>
    <% if @book.available? %>
      <%= button_to "Borrow book", borrow_book_path(@book), method: :post %>
    <% elsif @book.borrowed? && current_user.books.include?(@book) %>
      <%= button_to "Return book", return_book_path(@book), method: :post %>
    <% end %>
  <% end %>
</div>
