<%= render @book %>

<div>
  <% if current_user.librarian? || current_user.admin? %>
    <p><%= link_to "Back to books", books_path %></p>
    <p><%= link_to "Edit this book", edit_book_path(@book) %></p>
    <p><%= button_to "Destroy this book", @book, method: :delete %></p>
  <% else %>
    <p><%= link_to "Back to books", books_path %></p>
  <% end %>
</div>
